@tailwind base;
@tailwind components;
@tailwind utilities;

.reg-input {
  @apply  outline-none  text-sm rounded-xl py-2 my-2 px-3 border border-dark-primary focus:border-rose-500 focus:shadow-sm focus:shadow-rose-200
  
}

.horizontal-line {
  @apply w-16 h-[1px] mx-2 border-0 bg-dark-primary
}

.nav-item {
  @apply px-1 py-2 rounded-md flex flex-col items-center mb-2 hover:bg-dark-tertiary duration-200
}
.my-blur {
  backdrop-filter: blur(100px);
}
.active {
  @apply bg-dark-tertiary
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #353535;
}